/* add font family  */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  position: relative;
  background-color: #101010;
}

.space-grotesk {
  font-family: 'Dela Gothic One', cursive;
  font-style: normal;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.btn {
  background: linear-gradient(90deg, #E855DE 0.01%, #5400EE 100%);
  background-size: 800% 400%;
  /* Extended size for smooth animation */
  border: none;
  /* Removes border */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Changes cursor on hover */
  transition: all 0.3s ease-in-out;
  /* Smooth transition for hover effects */
  animation: Gradient 5s infinite cubic-bezier(.45, .65, .75, .85) both;
  /* Animation details */
  border-radius: 16px;
  /* Rounded corners */
}

.btn:hover {
  transform: scale(1.05);
  /* Slightly increases size on hover */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



.text-gradient {
  background-image: url("../../public/Text\ bg.png");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: flliper 5s infinite;
}


.spin-slow {
  animation: spin 3s linear infinite;
}

.up-down{
  animation: upDown 2s ease-in-out infinite;
}

.zoom {
  animation: zoomInOut 3s ease-in-out infinite;
}


.bounce-fade {
  animation: swirlMove 9s ease-in-out infinite;
}

@keyframes swirlMove {
  0%, 100% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(10px, -20px) rotate(10deg);
  }
  50% {
    transform: translate(20px, 0px) rotate(-10deg);
  }
  75% {
    transform: translate(10px, 10px) rotate(10deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes flliper {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Zoom in */
  }
}


.theme-btn {
  @apply relative px-10 py-2 min-w-[140px] rounded-full
}

.theme-btn::after {
  position: absolute;
  content: "";
  display: block;
  right: -20%;
  bottom: -37%;
  height: 138%;
  width: 112%;
  border-radius: 50px;
  padding: 5px;
  border: 2px solid #6366f1;
  clip-path: inset(29% 31% 0 3%);
  transform: translate(-12%, -12%);
  transition: all 0.3s;
}

.theme-btn:hover::after {
  clip-path: inset(0% 0% 0 0%);
  

}


/* Case Studies SLider Home Page */
.slickSlider>.slick-list {
  width: 2000px !important;
}

@media only screen and (max-width: 576px) {
  .slickSlider>.slick-list {
    width: 100% !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .slickSlider>.slick-list {
    width: 100% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .slickSlider>.slick-list {
    width: 100% !important;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Adjust this for slide effect */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}